# Ignore virtual environment
venv/

# Ignore database file
db.sqlite3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Ignore static files
/staticfiles/

# Ignore media files
/media/

# Ignore environment variables file
.env

# Ignore IDE files (specific to your IDE, add more if needed)
.vscode/
.idea/


# Ignore migration files (unless they are part of your version control strategy)
*/migrations/*.py
*/migrations/*.pyc

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Ignore compiled Python files
*.pyc

# Ignore any local settings files
local_settings.py

# Ignore logs and other temporary files
*.log
*.swp
*~